body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  
    background-color: #083b60; 
  }

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  

    
}

.login-container {
    display: flex;
    flex-direction: column;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    width: 70%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 100px; 
    text-align: left;

}



.login-input {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 10px;


}

.login-input input {
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #282828;
    color: white;


    
}
.login-button {
    display: flex;
    flex-direction: row; 
    gap: 10px;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    width: px;
    text-align: center;
 
  
}





.logo-login {
    display: flex;
    justify-content: right;
    height: 150%;
   
}

h2 {
    margin: 0; 
}

